#creations-block-grid {
	
	article {
		margin-bottom: 2rem;
	}
}

.single-creation {
	
	margin-bottom: 3rem;
	
	.creation-artist {
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}

	.creation-description {
		margin-top: 1rem;
	}

	.events {
		margin-top: 3rem;
	}
	
}


/* Medium and up */
@media screen and (min-width: 40em) {

	.single-creation {
		
		margin-bottom: 6rem;
		
	}

	#creations-search select { 
		margin-bottom: 0;
	}

	#creations-search .row { 
		margin-bottom: 1rem;
	}

}