header.page-header {
	margin-bottom: 3rem;
}

#upcoming-event-grid {
	text-align: center;
}

.upcoming-event {   
	border: 2px solid crimson;
    padding: 1rem;
    margin: 1rem 0;
    background: white;
    font-size: 1.25rem;

    .fa-map-marker {
    	margin-right: 0.5rem;
    }

    .fa-wheelchair {
    	margin-left: 0.5rem;
    }
}

#event-guest-list {
	.event-check-in {
		max-width: 2rem;
		display: inline-block;

	}

	.update-guest-list {
		margin-bottom: 0;
		background-color: red;
	}

	.all-present {
		background-color: green;
	}

	.semi-present {
		background-color: orange;
	}
}

.add-to-cart {

	text-align: center;

	input[type=submit] {
	    background: green;
	}

	.sold-out {
		background: red;
		color: white;
	    border-radius: 1px;
	    display: inline-block;
	    padding: 0.8rem;
	}

	.hurry-up {
		background: orange;
		color: white;
	    border-radius: 1px;
	    display: inline-block;
	    padding: 0.8rem;
	    margin-bottom: 1rem;
	}

	form.custom-add-to-cart {
		margin: auto;
	}

	input[type=number]{
	    display: inline-block;
	    max-width: 4rem;
	}
}