header.page-header {
	margin-bottom: 3rem;
}

#upcoming-event-grid {
	text-align: center;
}

.upcoming-event {   
	border: 2px solid $general-color-primary;
    padding: 1rem;
    margin: 1rem 0;
    background: white;

    .fa-map-marker {
    	margin-right: 0.5rem;
    }

    .fa-wheelchair {
    	margin-left: 0.5rem;
    }
}

#event-guest-list {
	.event-check-in {
		max-width: 2rem;
		display: inline-block;

	}

	.update-guest-list {
		margin-bottom: 0;
		background-color: red;
	}

	.all-present {
		background-color: green;
	}

	.semi-present {
		background-color: orange;
	}
}

.add-to-cart {

	text-align: center;

	.cart-price {
		font-size: 1.5em;
		margin-bottom: 0.25em;
	}

	input[type=submit] {
	    background: $button-color-primary;
	}

	input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
	    background: scale-color($button-color-primary, $lightness: -15%);
	    outline-color: scale-color($button-color-primary, $lightness: -15%);
	}

	.sold-out {
		background: rgba(0, 0, 0, 0.6);
	    color: white;
	    padding: 0.6rem 1rem;
	    font-size: 1rem;
	}

	.hurry-up {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	    padding: 0.4rem;
	    margin-bottom: 1rem;
	}

	form.custom-add-to-cart {
		margin: auto;
	}

	input[type=number]{
	    display: inline-block;
	    max-width: 4rem;
	}
}

.past-event {
	text-align: center;
}

/* Medium and up */
@media screen and (min-width: 40em) {

	.upcoming-event {   
		
	    font-size: 1.25rem;

	    .event-painting-tags {
	    	font-size: 1.1rem;
	    }

	}

}