$purplish: #801950;
$redish: #ea2420;

$general-color-primary: $redish;
$general-color-secondary: $purplish;

$button-color-primary: $redish;
$button-color-secondary: $purplish;
$button-color-inactive: rgba(0, 0, 0, 0.6);